/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* END OF  RESET */

/* GENERAL RULES */
body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1280px;
  margin: auto;
}

.menu::after{
  content: "";
  display: table;
  clear: both;
}


/*END OF GENERAL RULES*/

/* HEADER */
header {
  color: #ffffff;
  height: 500px;
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 1000px 120px;

}


/* Menu */
header .menu {
  padding-top: 2%;
}

header .menu .logo{
  float: left;
  font-size: 10px;
  width: 10%;
  text-align: left;
}
header .menu ul li {
  list-style: none;
}
header .menu ul li a {
  color: #ffffff;
  text-decoration: none;

}

header .menu .left-menu {
  float: left;
  width: 50%;
  text-align: center;
}

header .menu .right-menu {
  text-align: right;
  width: 40%;
  float: left;

}

header .menu .left-menu ul li {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 12px;
}

header .menu .right-menu ul li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

header .menu .right-menu ul li:nth-child(2) {
  border: 1px solid #ffffff;
  padding: 10px 40px;
  border-radius: 5px;
}

header .menu .right-menu ul li:last-child {
  background-color: #7cbb02;
  margin-left: 15px;
  border-radius: 5px;

}
/* End of Menu */

/* Title */
header .title {
  display: inline-block;
  top: 100px;
  width: 35%;
  padding-top: 8%;
}

header .title h1 {
  font-size: 40px;
  line-height: 1.5;
  word-spacing: 10px;
}
/* End of Title*/

/* Call to Action */

header .cta a {
  display: inline-block;
  top: 130px;
  padding: 13px;
  width: 15%;
  text-align: center;
  font-size: 13px;
  background-color: #7cbb02;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 3px;
  margin-top: 2%;
}
/* End of Call to Action */

/* END OF HEADER SECTION */


/* MAIN SECTION */

/* Banner */
main .banner {
  background-color: #d3d3d3;
  height: 130px;
}

main .banner-text {
  padding-top: 2%;
  text-align: center;
  line-height: 2;
}
main .banner-text p {
  color: #878787;
}
/* End of Banner */


/* Description */
main .description  {
  float: left;
  width: 33.33%;
  display: inline-block;
  margin-top: auto;
}

.program::after{
  content: "";
  display: table;
  clear: both;
}

main .description img {
  margin: 10% 10%;
}


main #profile img {
  width: 25%;
  padding-left: 10px;
}
main #computer img {
  width: 30%
}
main #doc img {
  width: 25%;
}

main .description h3 {
  color: #7cbb02;
  width: 60%;
  text-align: center;
}

main .description hr {
  width: 15%;
  margin: 5% 25%;
}
main .description p {
  width: 80%;
  text-align: justify;
  color: #878787;
}
/* End of Description */

/* Test */
/* End of Test */


/* END OF MAIN SECTION */
